#### Importing necessary libraries

In [28]:
import pandas as pd

#### Creating data for a DataFrame

In [29]:
data = {
    'city_department_id': [101010, 202020, 303030, 404040, 505050, 606060],
     'city': ['New York', 'Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'New Jersey'],
    'address' : ['Police Plaza Path 1', '161 St 215 E', 'Precinct 75th', '42nd St 524 W', 'Precinct 105th', '7th St 207']
}

#### Assigning data to a DataFrame

In [30]:
df = pd.DataFrame(data)

In [31]:
df

   city_department_id        city              address
0              101010    New York  Police Plaza Path 1
1              202020       Bronx         161 St 215 E
2              303030    Brooklyn        Precinct 75th
3              404040   Manhattan        42nd St 524 W
4              505050      Queens       Precinct 105th
5              606060  New Jersey           7th St 207

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

#### Setting index and exporting DataFrame as a CSV file

#### Setting city_department_id column as DataFrame index

In [32]:
df.set_index('city_department_id')

                          city              address
city_department_id
101010                New York  Police Plaza Path 1
202020                   Bronx         161 St 215 E
303030                Brooklyn        Precinct 75th
404040               Manhattan        42nd St 524 W
505050                  Queens       Precinct 105th
606060              New Jersey           7th St 207

In [33]:
file_path = 'Downloads\police_departments_data.csv'


df.to_csv(file_path, index=False)